body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.text-danger {
  color: $danger;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}
.text-primary {
  color: $primary;
}
